<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<nav>

<p> BIKESSTORE </p>
<p> Lorem ipsum dolor </p>

<p> Facebook </p>
<p> Twitter </p>
<p> RSS </p>

 <!-- <img src="facebook pic" alt="Facebook" height="42" width="42">
<img src="twitter pic" alt="Twitter" height="42" width="42">
<img src="RSS feed pic" alt="RSS" height="42" width="42">  -->

<a href="Link to Home Page">Home</a>
<a href="Link to About">About</a>
<a href="Link to Portfolio">Portfolio</a>
<a href="Link to Store">Store</a>
<a href="Link to Blog">Blog</a>
<a href="Link to Contacts">Contacts</a>
<a href="Link to Compare">Compare</a>
<a href="Link to Wishlist">Wishlist</a>
<a href="Link to Delivery">Delivery</a>
<a href="Link to Help">Help</a>

<p> Bike Store is proudly powered by WordPress Entries (RSS) and Comments (RSS) Privacy Policy </p>

<a href="Contact Us Link">Contact us!</a>

 <!-- <form style="display: inline" action="Contact Us!" method="get">
      <button>Contact Us!</button>
    </form>  -->

</nav>
	

	<!-- End Component -->
	
</body>
</html>