<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component5.css" />
</head>
<body>

	<!-- Component -->
	
	<article> 
	
	<h1> WHATS HOT ON FLOWSWIMMING </h1>
	
	<section id="one">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="two">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="three">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="four">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	
	<section id="five">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="six">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="seven">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="eight">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="nine">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="ten">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="eleven">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="twelve">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="thirteen">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="fourteen">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="fifteen">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section id="sixteen">
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	

</article>

	

	<!-- End Component -->
	
</body>
</html>