<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<article> 
	
	<h1> WHATS HOT ON FLOWSWIMMING </h1>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	
	<section>
	<img src ="RyanLochte.png" alt ="" height="250" width="250">
	<p> Lorum ipsum </p>
	</section>
	

</article>

	

	<!-- End Component -->
	
</body>
</html>