<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component7.css" />
</head>
<body>

	<!-- Component -->

<aside>

<div id="top">

<p id="paragraph1"> Log in </p> 

<p id="paragraph2"> or <a href="Link to Sign Up">sign up</a> </p>

<button id="button1"> X </button> 

</div>

 
    
<h2> Use your Flowswimming account to log in: </h2>




<p> Username or Email Address </p>

<div id="rectangle1"></div>

<p> Password </p>

<div id="rectangle2"></div>

<!--<form action="demo_form.asp" method="get">
  Username or Email Address: <input type="text" name="Username"><br>
  Password: <input type="text" name="Password"><br>
  <input type="submit" value="Submit">
</form> -->

<a href="Link to fixing forgotten password">Forgot password?</a>

<p> Remember me next time </p>

<form style="display: inline" action="Submit Form" method="get">
      <button>Login</button>
    </form>

</aside>
	

	<!-- End Component -->
	
</body>
</html>