/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

#top {

	display: block;
	background-color:  #e5e1e1;
	padding: 10px;
	margin-bottom:  20px;
}

	/* #top a {

	color: #ffffff;
	background-color: #cccccc;
	}  */

#button1 {

	position: absolute;
	right:  150px;
	top:  15px;
}

 p{

	margin-bottom: 75px;
	font-size: 20px;
}  

#paragraph1 {

	font-weight: bold;
	font-size: 25px;
}

#paragraph2 {

	position: absolute;
	right: 1225px;
	top: 15px;
}

h2{

	color: #565655;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

#rectangle1 {

	width: 600px;
    height:35px;
    background: #ffffff;
    border: 1px solid;
    position: absolute;
    right:  825px;
    top:  225px
    }
    
#rectangle2 {

	width: 600px;
    height:35px;
    background: #ffffff;
    border: 1px solid;
    position: absolute;
    right:  825px;
    top:  325px
    }


    




/* HEADER ======================================== */