/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

header {
	max-width: 960px;
	margin: auto;
}

#account {
	float: right;
}

#account a {
	color: #000000;
	padding: 10px;
	
}

li {
	display: inline-block;
}



nav {
	background-color: #7c4add;
}



nav a {
	color: #ffffff;
	padding: 10px;
	display: block;
}







/* HEADER ======================================== */