<!DOCTYPE html>
<html>
<head>
	<title>Header: Chadwick Buist</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<nav> 
	
		<img src ="Flowave.png" alt ="" height="250" width="250">	
		<p> FLO SWIMMING </p>
		
	</nav>
	
	<aside> 
	
		<p> JOIN FLOPRO </p>
		<p> LOG IN </p>
		
	</aside>
	
	<ul>
	
		<li> <a href="Home Page Link">Home</a> </li>
		<li> <a href="Home Page Link">Videos</a> </li>
        <li> <a href="Home Page Link">Meets</a> </li>
        <li> <a href="Home Page Link">Swimmers</a> </li>
	    <li> <a href="Home Page Link">Contact</a> </li>
	</ul>

	<!-- End Component -->
	
</body>
</html>