<!DOCTYPE html>
<html>
<head>
	<title>Header: Chadwick Buist</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component1.css" />
</head>
<body>

	<!-- Component -->
	
	<header>
	
	
		<img src="Logo.png" alt="Floswimming Logo" height="160" width="280"> 
		
		<div id="upper">
		<ul id="upper2">
			<li> <a href="Join FloPro Link">JOIN FLOPRO</a> </li>
			<li> <a href="Log in Link">LOG IN</a> </li>
		</ul>	
		
		<form style="display: inline" action="Search Link">
        <button>Search</button>
        </form>
        
        </div>
        
  
        
 

		
		<nav>
		<ul id="lower">
			<li> <a href="Home Link">HOME</a> </li>
			<li> <a href="Videos Link">VIDEOS</a> </li>
			<li> <a href="Meets Link">MEETS</a> </li>
			<li> <a href="Swimmers Link">SWIMMERS</a> </li>
			<li> <a href="Contact Link">CONTACT</a> </li>
			
		</ul>	
		</nav>
		
	</header>
	
	
	
	<!-- End Component -->
	

	
</body>
</html>