/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

li {

display: inline;

}

#upper {

float: right;

}

nav {



background-color: #7c4add;

}

#upper2 a {

color: #000000;
padding: 10px;

}

#lower a {

color: #ffffff;
padding: 10px;

}







/* HEADER ======================================== */