<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<article>
	
	<h1> ABOUT US </h1>
	
	<section>
	
	<img src ="DewaltDrill.png" alt ="" height="250" width="250">
	<h2> LOREM IPSUM DOLOR SIT AMET </h2>
	<p> Exclicabo repudiande vitae </p>
	
	</section>
	
	<section>
	
	<img src ="MakitaDrill.png" alt ="" height="250" width="250">
	<h2> LOREM IPSUM DOLOR SIT AMET </h2>
	<p> Exclicabo repudiande vitae </p>
	
	<img src ="BlackandDeckerDrill.png" alt ="" height="250" width="250">
	<h2> LOREM IPSUM DOLOR SIT AMET </h2>
	<p> Exclicabo repudiande vitae </p>
	
	</section>
	
	
	
	</article>
	
	

	

	<!-- End Component -->
	
</body>
</html>