<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<nav> 

	<ul>
		<li> 
			 <!-- <img src ="FeatureComponent1.jpg" alt ="" height="250" width="250">  -->
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
	</ul>

</nav>
	

	<!-- End Component -->
	
</body>
</html>