<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component3.css" />
</head>
<body>

	<!-- Component -->

<nav> 

	<ul id="one">
		<li> 
		    <img src ="Briefcase.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			<img src ="Risingstats.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
	</ul>
	
	<ul id="two">
		
		<li> 
			 <img src ="plugpicture.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			 <img src ="Paperclip.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
	</ul>
	
	<ul id="three">
		
		<li> 
			 <img src ="Calandar.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			 <img src ="Pen.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
	</ul>
	
	<ul id="four">
		
		<li> 
			 <img src ="Camera.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
		
		<li> 
			 <img src ="chart.png" alt ="" height="60" width="60">
			<h2> DOLOR SIT AMET </h2>
			<p> Lorem ipsum dolor </p>
		</li>
	</ul>

</nav>
	

	<!-- End Component -->
	
</body>
</html>