<!DOCTYPE html>
<html>
<head>
	<title>CTA: Chadwick Buist</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<figure> 

	<img src ="Taxicall.jpg" alt ="" height="250" width="250">
	
	<h1> Taxi </h1>
	
	<h2> Call Us 24 Hours </h2>
	
	<h1> 800-2345-6789 </h1>
	
<form action="demo_form.asp" method="get">
  Full name: <input type="text" name="name"><br>
  Email: <input type="text" name="email"><br>
  Phone: <input type="text" name="phone"><br>
  <input type="submit" value="Submit">
</form>

<form style="display: inline" action="Link to 20 percent discount">
      <button>GET 20% DISCOUNT NOW!</button>
    </form>
	

</figure>


	

	<!-- End Component -->
	
</body>
</html>