<!DOCTYPE html>
<html>
<head>
	<title>CTA: Chadwick Buist</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component2.css" />
</head>
<body>

	<!-- Component -->

<section> 

	<img src ="taxilogo.jpg" alt ="" height="75" width="75">
	
	<h1> Taxi </h1>
	
	<h2> Call Us </h2>
	
	<p id="hours"> 24 Hours </p>
	
	<h3> 800-2345-6789 </h3>
	
	<p> Get better results and save 20% </p>
	
<form action="demo_form.asp" method="get">
  Full name: <input type="text" name="name"><br>
  Email: <input type="text" name="email"><br>
  Phone: <input type="text" name="phone"><br>
  <input type="submit" value="Submit">
</form>

<a href="Get 20% Discount Now Link">GET 20$ DISCOUNT NOW!</a>

  <!-- <form style="display: inline" action="Link to 20 percent discount">
      <button>GET 20% DISCOUNT NOW!</button>
    </form>  -->
	

</section>


	

	<!-- End Component -->
	
</body>
</html>