<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component6.css" />
</head>
<body>

	<!-- Component -->
	
	<aside>
	
	<h1> CONTACT US </h1>
	
	<p> Name </p>
  
  <div id="rectangle1"></div>
  
  <p> Email </p>
  
  <div id="rectangle2"></div>
  
  <p> Subject </p>
  
  <div id="rectangle3"></div>
  
  <p> Body </p>
  
  <div id="rectangle4"></div>
  
  

<form style="display: inline" action="Submit Form" method="get">
      <button>SUBMIT</button>
    </form>
	
	
	
	</aside>

	

	<!-- End Component -->
	
</body>
</html>