<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<div>
	
	<h1> CONTACT US </h1>
	
	<form action="demo_form.asp" method="get">
  Name: <input type="text" name="Name"><br>
  Email: <input type="text" name="Email"><br>
  Subject: <input type="text" name="Subject"><br>
  Body: <input type="text" name="Body"><br>
  <input type="submit" value="Submit">
</form>

<form style="display: inline" action="Submit Form" method="get">
      <button>SUBMIT</button>
    </form>
	
	
	
	</div>

	

	<!-- End Component -->
	
</body>
</html>