<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component9.css" />
</head>
<body>

	<!-- Component -->
     
     <aside>
     
     <p>Non Alcoholic</p>
     
     <p>DRINKS ON-LINE STORE</p>
     
    <!-- <img src="Water.png" alt="Water" height="100" width="100"> -->
     
     <form style="display: inline" action="Close" method="get">
      <button>X</button>
    </form>
    
    <h2> Subscribe to our newsletter </h2>
    
    <p> Sign up for our exclusive email list and be the first to know about new products, special offers, 
    store events and other discount information. </p>
    
    <form action="demo_form.asp" method="get">
  Enter your e-mail: <input type="text" name="e-mail"><br>
 <input type="submit" value="Submit">
</form>

<a href="Subscribe Link">SUBSCRIBE</a>

 <!--  <form style="display: inline" action="Contact Us!" method="get">
      <button>SUBSCRIBE</button>
    </form>  -->
     
     
     </aside>
	

	<!-- End Component -->
	
</body>
</html>