<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<article> 

<video width="320" height="240" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

<form style="display: inline" action="Follow Ryan Lochte" method="get">
      <button>Follow Ryan Lochte</button>
    </form>
    
<h1> JEAH! EXCLUSIVE Ryan Lochte Olympic Swimmer at the 2013 Florida Relays </h1>

<p> by Christopher Chavez at FloTrack on April 5, 2013 </p>

<form style="display: inline" action="Tweet" method="get">
      <button>Tweet</button>
    </form>
    
    <form style="display: inline" action="Email" method="get">
      <button>Email</button>
    </form>
    
    <form style="display: inline" action="Embed" method="get">
      <button>Embed</button>
    </form>

</article>

<aside>

<p> Ryan Lochte chats with Christopher Chavez in an exclusive interview at the 2013 Florida Relays.  What event do you think would be Lochte's best??? </p>

<p> Tags:  <a href="Ryan Lochte">Ryan Lochte</a> , <a href="Chris Chavez">Chris Chavez</a> </p>

</aside>

<aside>

<p> Login with <a href="FLO SWIMMING">FLO SWIMMING</a> or to comment. </p>

</aside>
	

	<!-- End Component -->
	
</body>
</html>